body { background: #000 url(../images/bgbody.jpg) top center no-repeat; color: #eee; padding: 0 0 15px 0; margin: 0; text-align: center; }

div.box { margin: 100px auto 2em; background: #8f8f8f; color: #000; text-align: center; border: 2px solid #fff; font-size: 105%; } 

#header h2 { font-size: 250%; background: #222; }

div.menu { margin-left: 10px; font-size: 150%; }
div.menu a { color: #9fef9f; margin-left: 20px; padding: 5px 5px; }
div.menu a:visited { Color: #ef9f9f; }

div.error { background: #000; text-align: center; font-size: 125%; color: #ef8f8f; }
div.error ul li { text-align: center; }
div.error ul { text-align: center; }
div.notice { background: #000; text-align: center; font-size: 125%; color: #8fef8f; }

div.bar { border: 2px solid #fff; background: #444; color: #98efa0; font-size: 125%; padding: 5px 5px; }
div.bar h2 { font-size: 115%; }
span.stat_item { margin-right: 15%; border: 3px solid #000; }
span.stat_item b { padding-right: 15px; border-right: 2px solid #000; }

table tr td { background: #aaa; color: #000; font-size: 105%; }