body { background: #000 url(../images/bgbody.jpg) top center no-repeat; color: #eee; padding: 0 0 15px 0; margin: 0; text-align: center; }

div.box { margin: 100px auto 2em; background: #8f8f8f; color: #000; text-align: center; border: 2px solid #fff; font-size: 105%; } 

#header h2 { font-size: 250%; background: #222; }

div.menu { margin-left: 10px; font-size: 125%; }
div.menu a { color: #9fef9f; margin-left: 10px; padding: 5px 5px; }
div.menu a:visited { Color: #ef9f9f; }

div.error { background: #000; text-align: center; font-size: 175%; color: #ef8f8f; margin-top: 20px; }
div.notice { background: #000; text-align: center; font-size: 175%; color: #8fef8f; margin-top: 20px; }

div.bar { border: 2px solid #fff; background: #8f8f8f; color: #222; font-size: 125%; padding: 5px 5px; }
div.bar h2 { font-size: 115%; }
span.stat_item { margin-right: 10%; border: 3px solid #000; background: #9fef9f;}
span.stat_item b { padding-right: 15px; border-right: 2px solid #000; }

table tr td { background: #aaa; color: #000; font-size: 105%; margin: 5px 10px; }
table tr th { margin: 5px 10px; padding: 20px 20px; }

table.game tr td { padding: 30px 30px; }
table.game { margin-left: 15%; }