body { background: #4f2f2f; color: #000; }

div.box { margin: 100px auto 2em; background: #8f8f8f; color: #000; width: 50%; text-align: center; border: 2px solid #fff; font-size: 105%; }

h2.game { font-size: 600%; text-align: center; background: #222; color: #7f7fcf; }

div.menu { background: #3f4f6f; padding: 5px 5px; border: 2px solid #fff; }
div.menu a { color: #9fef9f; margin-left: 20px; padding: 5px 5px; }
div.menu a:visited { Color: #ef9f9f; }

div.error { background: #000; text-align: center; font-size: 125%; color: #ef8f8f; }
div.error ul li { text-align: center; }
div.error ul { text-align: center; }
div.notice { background: #000; text-align: center; font-size: 125%; color: #8fef8f; }

div.bar { border: 2px solid #fff; background: #444; color: #98efa0; font-size: 125%; padding: 5px 5px; }
div.bar h2 { font-size: 115%; }
span.stat_item { margin-right: 15%; border: 3px solid #000; }
span.stat_item b { padding-right: 15px; border-right: 2px solid #000; }

table tr td { background: #aaa; color: #000; font-size: 105%; }