<div class="bar">
  <h2>Player Stats:</h2>
  <span class="stat_item"><b>Wins:</b> <%= @user.player.wins %></span>
  <span class="stat_item"><b>Losses:</b> <%= @user.player.losses %></span>
  <span class="stat_item"><b>Draws:</b> <%= @user.player.draws %></span>
  <span class="stat_item"><b>Total Games:</b> <%= @user.player.total_games %></span>
</div>
